<div class="col-xs-4">
	<div class="panel">
    	<div class="panel-heading">{{heading-color}}</div>
        <div class="panel-body">{{body-color}}</div>
        <div class="panel-footer text-center">{{footer-color}}</div>
    </div>
</div>